.navbar {
  background-color: #ACA885;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar .logoNav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 0 5px wheat;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}

.navbar .pagesNav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a.nav-link {
  color: #243e3d !important;
}

.navbar a:hover {
  -webkit-box-shadow: 0 0 5px #f5f4ef;
          box-shadow: 0 0 5px #f5f4ef;
}

.jumbotron {
  background-image: url(../img/baner/Bama-Sala-color.jpg);
  background-size: cover;
  background-position: inherit;
  height: 350px;
  color: aliceblue;
  text-shadow: 0 0 5px #243e3d;
}

.tituloIndex {
  color: #243e3d;
  text-shadow: 0 0 4px white;
  font-weight: bold;
  font-size: 40px;
}

.btn-secondary {
  background-color: #243e3d;
}

h2 {
  text-align: center;
  font-family: cursive;
  text-shadow: 0 0 5px #243e3d;
}

.productos-fila img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  width: 100%;
}

.carousel-item h5 {
  text-shadow: 0 0 6px #243e3d;
  font-size: 20px;
}

.carousel-item p {
  text-shadow: 0 0 5px #243e3d;
}

.mediosDePago {
  padding-top: 20px;
  color: #243e3d;
  text-align: center;
}

.mediosDePago:hover {
  -webkit-box-shadow: 0 0 5px #ACA885;
          box-shadow: 0 0 5px #ACA885;
  background-color: #f5f4ef;
}

h3 {
  color: #243e3d;
  text-shadow: 0 0 5px #243e3d;
}

h4 {
  color: #ACA885;
}

.form {
  border: 2px solid #243e3d;
  width: 100%;
  background-color: #f5f4ef;
}

.tituloMiniForm {
  color: #ACA885;
  font-weight: bold;
}

.textMiniForm {
  font-weight: bold;
  text-align: center;
}

/* nosotros */
.contenedorNosotros {
  background: -webkit-gradient(linear, left bottom, left top, from(#f5f4ef), to(white));
  background: linear-gradient(to top, #f5f4ef, white);
}

.subtitulosNos {
  color: #ACA885;
  text-shadow: none;
}

.containerEach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tienda-icon,
.equipo-icon,
.deco-icon {
  height: 250px;
  width: 400px;
  border: 2px solid #ACA885;
}

.tienda-icon {
  background-image: url("../img/nosotros/tienda-icon.jpg");
  background-size: contain;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.equipo-icon {
  background-image: url("../img/nosotros/equipo-icon.jpg");
  background-size: contain;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.deco-icon {
  background-image: url("../img/nosotros/deco-icon.jpg");
  background-size: contain;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

/* productos */
h1 {
  color: #ACA885;
  text-shadow: 1px 1px 2px #243e3d;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.carouselProducto img {
  height: 30vh;
}

.carousel-indicators li {
  width: 0px !important;
  height: 0px !important;
}

.card {
  border: none;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-img-top:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

/* ingresar */
.textoIngresar {
  color: #243e3d;
  text-shadow: 0 0 5px #243e3d;
}

.form-group {
  color: #243e3d;
}

/* footer */
footer {
  background-color: #ACA885;
  color: #f8f8f8;
  padding: 10px;
}

.fa-brands {
  color: #243e3d;
  text-decoration: none;
}

.fa-brands:hover {
  color: #243e3d;
  -webkit-box-shadow: 0 0 5px wheat;
          box-shadow: 0 0 5px wheat;
  text-decoration: none;
}

.tituloFooter {
  text-align: center;
  color: #243e3d;
  font-size: 30px;
  text-shadow: 0 0 5px color1;
}

.listaFooter {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  justify-self: center;
}

.listaFooter a {
  text-decoration: none;
  color: #243e3d;
  font-size: 15px;
  padding-bottom: 5px;
}

.nav-link:hover {
  color: #243e3d;
  -webkit-box-shadow: 0 0 5px wheat;
          box-shadow: 0 0 5px wheat;
  text-decoration: none;
}

@media (max-width: 765px) {
  .d-none {
    display: block !important;
  }
  .listaFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* contacto */
.contacto {
  background-color: #243e3d;
  color: antiquewhite;
}
/*# sourceMappingURL=estilos.css.map */