$color1:#243e3d;
$color2: #ACA885;
$color3:#f5f4ef;

.navbar {
    background-color: $color2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    .logoNav {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 0 0 5px wheat;
        justify-content: flex-start;
        margin-top: 5px;
        box-shadow: none !important;
    }

    .pagesNav {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    a.nav-link {
        color: $color1 !important;
    }

    a:hover {
        box-shadow: 0 0 5px #f5f4ef;
    }
}

.navbar-toggler:hover {
    box-shadow: 0 0 5px #f5f4ef;

    a:hover {
        box-shadow: 0 0 5px #f5f4ef;
    }
}

.jumbotron {
    background-image: url(../img/baner/Bama-Sala-color.jpg);
    background-size: cover;
    background-position: inherit;
    height: 350px;
    color: aliceblue;
    text-shadow: 0 0 5px $color1;
}

.tituloIndex {
    color: $color1;
    text-shadow: 0 0 4px white;
    font-weight: bold;
    font-size: 40px;
}

.btn-secondary {
    background-color: $color1;
}

h2 {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    text-shadow: 0 0 5px #243e3d;
}

.productos-fila img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.carousel-item {
    h5 {
        text-shadow: 0 0 6px #243e3d;
        font-size: 20px;
    }

    p {
        text-shadow: 0 0 5px #243e3d;
    }

    .imgBanner {
        height: auto;
        width: 100%;
    }
}

.mediosDePago {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.botonPago {
    background-color: $color2;
    height: 100px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    padding: 40px 0;
    font-family: cursive;
    box-shadow: 0 0 5px black;
    overflow: hidden;
    animation: mymove 10s infinite;
}

@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px $color2;
    }
}


h3 {
    color: #243e3d;
    text-shadow: 0 0 5px #243e3d;
}

h4 {
    color: $color2;
}

.form {
    border: 2px solid $color1;
    width: 100%;
    background-color: $color3;

}

.tituloMiniForm {
    color: $color2;
    font-weight: bold;
}

.textMiniForm {
    font-weight: bold;
    text-align: center;
}

/* nosotros */

.contenedorNosotros {
    background: linear-gradient(to top, #f5f4ef, white);
}



.containerEach {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.co-icon,
.oc-icon,
.ri-icon,
.ta-icon {
    height: 250px;
    width: 300px;
    border: 2px solid $color2;
}

@each $nosotros in co,
oc,
ri,
ta {
    .#{$nosotros}-icon {
        background-image: url("../img/nosotros/#{$nosotros}-icon.png");
        background-size: contain;
        background-position: center;
        box-shadow: 0 0 6px black;
    }
}

/* productos */
h1 {
    color: $color2;
    text-shadow: 1px 1px 2px $color1;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.bannerProductos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerProductos {
    position: relative;
    width: 25%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.imgProductos {
    width: 200px;
    height: 200px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: $color3;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerProductos:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: $color2;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card {
    margin-top: 50px;
    border: none;
    justify-content: center;
    height: auto;
    width: 80%;
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-img-top:hover {
    filter: saturate(180%);
}

/* ingresar */

.textoIngresar {
    color: $color1;
    font-family: cursive;
}

.formuIng {
    box-shadow: 0 0 5px $color1;
}

.form-group {
    color: #243e3d;
}

/* footer */
footer {
    background-color: #ACA885;
    color: rgb(248, 248, 248);
    padding: 10px;
}

.fa-brands {
    color: $color1;
    text-decoration: none;
}

.fa-brands:hover {
    color: $color1;
    box-shadow: 0 0 5px wheat;
    text-decoration: none;
}

.tituloFooter {
    text-align: center;
    color: $color1;
    font-size: 30px;
    text-shadow: 0 0 5px color1;
}

.listaFooter {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: center;

}

.listaFooter a {
    text-decoration: none;
    color: #243e3d;
    font-size: 15px;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: $color1;
    box-shadow: 0 0 5px wheat;
    text-decoration: none;
}

@media (max-width: 765px) {
    .d-none {
        display: block !important;
    }

    .listaFooter {
        flex-direction: column;
    }

    .mediosDePago {
        flex-direction: column;
    }

    .botonPago {
        width: 80%;
    }

    .containerEach {
        display: none;
    }

    .bannerProductos {
        flex-direction: column;
    }

    .imgProductos {
        width: 200px;
        height: 200px;
    }
    .card{
        margin-left: 50px;
    }
    .containerProductos {
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 100%;
    }
    .imgProductos {
        width: 200px;
        height: 200px;
        margin-left: 25%;
    }
}

/* contacto */
.contacto {
    background-color: #243e3d;
    color: antiquewhite;

}