.navbar{
background-color:#ACA885;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar a.nav-link{
color: #243e3d !important;
}
.navbar a:hover{
background-color:aliceblue;
}

.jumbotron{
    background-image: url(../img/baner/Bama-Sala-color.jpg);
    background-size:cover;
    background-position: inherit;
    height: 350px;
    color: aliceblue;
    text-shadow: 0 0 5px #243e3d;
}

.btn-secondary{
    background-color: #243e3d;
}

h2{
text-align: center;
font-family: cursive;
text-shadow: 0 0 5px #243e3d;
}

.productos-fila img{
object-fit: cover;
height: 450px;
width: 100%;
}

.carousel-item h5{
    text-shadow: 0 0 6px #243e3d;
    font-size: 20px;
}

.carousel-item p{
    text-shadow: 0 0 5px #243e3d;
}

.botonesMedioPago{
    padding-top: 10px;
    margin: 30px;
    justify-content: center;
    padding-left: 300px;
}

h3{
color: #243e3d;
text-shadow: 0 0 5px #243e3d;
}


.form{
background-color: #ACA885;
width: 50%;
}
/* nosotros */

/* productos */
h1{
    color: #243e3d;
    text-shadow: 0 0 5px black;
    font-family: cursive;
}
.carouselProducto img{
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.carousel-indicators li{
width: 0px !important;
height: 0px !important;
}
.card{
    border: none;
}
.card img{
    object-fit:cover;
    height: 200px;
    width: 100%;
}

.card-img-top:hover {filter: saturate(180%);}

footer{
    background-color: #ACA885;
    color:rgb(248, 248, 248);
    }
.tituloFooter{
    text-align: center;
    color: #243e3d;
    font-size: 30px;
    text-shadow: 0 0 5px #243e3d;
}
.listaFooter{
    list-style: none;
}

.listaFooter a{
    text-decoration: none;
    color:#243e3d;
    text-shadow: 0 0 5px whitesmoke;
    font-size: 15px;
    padding-bottom: 5px;
    
}

@media (max-width: 765px){
    .d-none {
        display: block!important;
    }

}


/* contacto */
.contacto{
    background-color: #243e3d;
    color: antiquewhite;
    
}

/* *
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
/* -----------------------------------ESTRUCTURA----------------------------------------------- */
/* .contenedor{
    display: grid;
    grid-template-areas: "box1 box2" "box3 box3" "box4 box4";
    width: 100%;
    height: 698px;
    grid-template-rows: 50px auto 20px;
    grid-template-columns: auto;
}

.box1{
    grid-area: box1;
    background:#ACA885;

}

.box2{
    grid-area: box2;
    background:#ACA885;
    /* height: 300px; */
    
/* } */

/* .box3{
    grid-area: box3;
}

.box4{
    grid-area: box4;
    
} */
/* --------------------------------HEADER--------------------------------------------------- */
/* .marcar{
    color: #9a7352;
}

.header{
    display: flex; 
    background-color: #ACA885;
    width: 100%;
    height: 50px;
} 

.logo{
    width: 100%;
    height: 100%;

}

.logo p{
    width: 100%;
    height: 100%;
    color:#f6f1f0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    margin-left: 20px;
    text-decoration: none;
    
}


.logo span{ 
    width: 100%;
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #9a7352;
    float:initial;
    text-decoration: none;
    
} */


/* .barra {
    grid-area: box2;
    float: right;
    
}

.barra nav ul li{
    list-style: none;
    display: inline-block;
    height: 100%;
    justify-content: space-between;
    margin-right: 10px;
    padding: 10px 0;
}

.barra nav ul a{
    text-decoration: none;
    color:rgb(248, 248, 248);
    font-size: 20px;
    font-style: italic;
}

.barra nav ul a:hover{
color: #9a7352;
} */

/* --------------------------------INDEX--------------------------------------------------- */
/* .contenedor{
    display: grid;
}
.contenedorBanner{
    width: 100%;
    height: 50vh;
    background-color:#f6f1f0;
    display: grid;
    grid-template-rows:50% 50%;
    background-image: url(../img/baner/bc9b2fd5-e11f-46b4-8efe-3a8acffb479f.jpg);
    background-position: center;
    background-size: cover;
}

.contenedorBanner button{
position: absolute;
left: 2%;
top: 25%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #555;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}

.tituloBanner{
    color: #555;
    font-size: 60px;
    font-family: cursive;
    grid-template-columns:none;
    align-self:center;
    justify-self:center;
    top: 15%;
    animation:backInDown; 
    animation-duration: 2s;  
} */
/* .textoBanner{
    color: #555;
    font-size: 25px;
    font-family: cursive;
    width: 300px;
    grid-template-columns: 1/2;
    grid-template-rows: auto;
    align-self: center;
    justify-self: center;
    text-align: center; 
    animation:fadeInLeft ; 
    animation-duration: 2s; 
    
}

.tituloPrincipal h1{
display: grid;
grid-template-columns: none;
color: #243e3d;
font-size: 40px;
font-family:cursive;
text-align: center;
text-shadow: 2px 4px 10px #9a7352;
}

.bonotesMediosDePago button{
    color: #626C66;
    background-color:#f6f1f0 ;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;    
    float: left;
}

.centrar{
display: grid;
grid-template-columns: auto;
gap: 10px;
margin: 20px;
}

h2{
grid-area: 1 / 2;
display: flex;
align-self: center;
justify-content: center;
font-family: cursive;
border: solid 2px;
border-color: #ACA885;
height: 50px;
width: 400px;
border-radius: 20px;
box-shadow: 4px 4px 20px rgb(128 128 128 / 50%);
transition: width 3s;
transition-delay: 1s;
}
h2{
    -webkit-transition: 1s linear;
    transition: 1s linear; */
/* } */
/* h2:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}


.galeria{
    height: 600px;
    width: 100%;
    display: grid;
    gap: 5px;
    box-shadow: 0 0 5px black;
} */

/* .img{
    background-color: #9a7352;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 5px #9a7352;

}
.img1{
    background-image:url(../img/galeria-index/img1.jpeg);
    background-position: center;
    background-size: cover;
}

.img2{
    background-image: url(../img/galeria-index/img2.jpeg);
    background-position: center;
    background-size: cover;
}

.img3{
background-image: url(../img/galeria-index/img3.jpeg);
background-position: center;
background-size: cover;
}

.img4{
background-image: url(../img/galeria-index/img4.jpeg);
background-position: center;
background-size: cover;
}

.img5{
background-image: url(../img/galeria-index/img5.jpeg);
background-position: center;
background-size: cover;
}

.img6{
background-image: url(../img/galeria-index/img6.jpeg);
background-position: center;
background-size: cover;
}


.pasoPedido{
display: grid;
grid-template-columns: none;
}
.pasoPedido ol li{
    color: #243e3d;
}

.cajaMediosDePago{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}

.bonotesMediosDePago{
    justify-self: center;
    transition: width 10s;
}

.bonotesMediosDePago button:hover {
    width: 300px;
    border: 4px solid #918B76 (100, 100, 100, 1);
    border-radius: 4px;
}

.cajaFormulario{
border-radius: 5px;
background-color:#ccc;
padding: 10px;
margin: 100px;
}

input[type=password] {
    border: 2px solid #626C66;
    border-radius: 4px;
    background-color: #f6f1f0;
    color: #9a7352;
    font-size: 15px;
}
select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f6f1f0;
    font-size: 15px;
}

input[type=text],input[type=number],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    background-color: #f6f1f0;
    color: #9a7352;
    font-size: 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#243e3d;
}


.consulta{
    color: #243e3d;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
}

h3{
    margin: 10px 0 30px 0;
    text-align: center;
    color: #9a7352;
    background-color: #243e3d;  
} */


/* -----------------------------------------PRODUCTOS---------------------------------------------------------- */
/* .tituloRealizarPedido{
    color: #243e3d;
    font-size: 20px;
    font-family:cursive;
    text-shadow: 2px 4px 10px #9a7352;
    text-align: center;
}

.listaRealizarPedido{
    margin-left: 20px;
    color: #f6f1f0;
    font-size: 15px;
    font-family: cursive;
}


.iconoWp{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
footer{
height:100px;
width: 100%;
background-color: #ACA885;
color:rgb(248, 248, 248);
font-size: 20px;
text-align: center;
padding-top: 20px;
}

footer p{
    text-align: left;
}

.derechos{
    background-color:#626C66;
    width: 100%;
    height: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
} */
/* --------------------------------NOSOTROS--------------------------------------------------- */
/* .contenedorNos{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(270deg, #b49d7f 0, #ad9172 16.67%, #a58363 33.33%, #9a7252 50%, #8f6142 66.67%, #875336 83.33%, #80482d 100%);
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.contenedorNos img{
    color: #626C66;
    font-size: 60px;
    font-family: cursive;
    grid-template-columns:none;
    align-self:center;
    justify-self:center;
    grid-template-columns:none;
    height: 100%;
}

.contenedorNos h1{
    color: #626C66;
    font-size: 60px;
    font-family: cursive;
    grid-template-columns:none;
    align-self:center;
    justify-self:center;
    top: 30%;
}

.contenedorNos p{
    color: #f6f1f0;
    font-size: 25px;
    font-family: cursive;
    width: 500px;
    grid-template-columns: 1/2;
    grid-template-rows: auto;
    align-self: flex-start;
    justify-self: end;
    
}

.contenedorNos h1 span{
    color:#243e3d;
    font-size:30px;
    font-family:serif;
    position: absolute;
    top: 50px;
    
}
.tituloNosotros{
color: #243e3d;
font-size: 20px;
font-family:cursive;
text-shadow: 2px 4px 10px #9a7352;
text-align: center;
}
.subtituloNosotros{
    color: #243e3d;
    font-size: 20px;
    font-family:cursive;
    text-shadow: 2px 4px 10px #9a7352;
    
}
.listaNosotros{
    margin-left: 50px;
    font-size: 20px;
}

.textoNosotros{
    font-size: 25px;
    margin-left: 5px;
    text-align: justify;
} */
/* --------------------------------------------PRODUCTOS-------------------------------------------------- */
/* .contenedorBannerP{
        width: 100%;
        height: 50vh;
        background-color:#f6f1f0;
        display: grid;
        grid-template-rows:50% 50%;
        background-position: center;
        background-size: cover;
    }

.tituloProductos{
color: #243e3d;
font-size: 30px;
font-family:cursive;
text-shadow: 2px 4px 10px #9a7352;
text-align: center;
}

.subtituloProductos{
    font-size: 20px;
    font-family: cursive;
    color: #9a7352;
    text-align: center;
    text-transform: capitalize;
    text-decoration:underline;
}

.imgTarjetas{
    height: 40px;
    padding-left: 400px;
    
} */
/* --------------------------------CONTACTO-------------------------------------------------- */
/* .contenedorContacto{

    display: grid;
    grid-template-rows: 5% 5% 0% 30% 5% 55%;
    grid-template-columns: 100%;
}
.tituloContacto{
    grid-template-rows: 1/2;
    justify-self: center;
    color: #243e3d;
    font-size: 30px;
    font-family:cursive;
    text-shadow: 2px 4px 10px #9a7352;
    text-align: center;
}

.pContacto{
    grid-template-rows: 2/3;
    font-family: cursive;
    text-align:justify;
    font-weight: bold;
    color: #9a7352;
    margin-left: 5px;
}
.informacionContacto{
    grid-template-rows: 3/4;
} */

/* .subtituloConsultanos{
    grid-template-rows: 4/5;
    color: #243e3d;
    font-size: 30px;
    font-family:cursive;
    text-shadow: 2px 4px 10px #9a7352;
    text-align: center;
    justify-self: center;
}
.tituloIngresar{
    color: #243e3d;
    font-size: 30px;
    font-family:cursive;
    text-shadow: 2px 4px 10px #9a7352;
    text-align: center;
}

.textoIngresar{
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: #9a7352;

} */

/* .subtituloIniciarSesion{
    font-size: 20px;
    font-family: cursive;
    color: #9a7352; 
    text-transform: capitalize;
    padding-left: 35px;
    
}

.formularioIngresar{
padding-left: 550px;
}

.textoRegistrar{
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: #9a7352;

}

.subtituloRegistrar{
    font-size: 20px;
    font-family: cursive;
    color: #9a7352; 
    text-transform: capitalize; 
    padding-left: 35px;
} */ 
/* -----------------------------------RESPONSIVE GALERIA-------------------------------------------------- */
    /* .img1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .img2{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    
    .img3{
    grid-column: 3/5;
    grid-row: 1/2;  
    }
    
    .img4{
    grid-column: 1/2;
    grid-row: 3/4;
    }
    
    .img5{
    grid-column: 2/3;
    grid-row: 3/4;
    }
    
    .img6{
    grid-column: 3/5;
    grid-row: 2/4;
    } */

/* ---------------------------------------RESPONSE INDEX---------------------------------------------------- */
/* @media (max-width: 785px) {
.contenedor {
    grid-template-columns: 20% auto;
    grid-template-rows: 50px auto 40px;
    grid-template-areas: "box1 box1" "box2 box3" "box4 box4";
    background-color: #f6f1f0;
}

.logo p{
text-align: center;
}
.barra nav ul a:hover{
    color: #9a7352;
    }

.box2{
    padding-left: 20px;
    margin-top: 5px;
}

.contenedorBanner{
grid-template-columns: none;
grid-template-rows: none;
}

.tituloBanner{
    justify-self: center;
    font-size: 50px ;
}
.textoBanner{
justify-self: center;
font-size: 25px;
}

.tituloPrincipal h1{
    justify-self: center;
    align-self: end;
    font-size: 20px;
}
.galeria{
    height: 300px;
    width: 100%;
    justify-self:center;
}

.img1{
    grid-column: 1/2;
    grid-row: 1/3;
}

.img2{
    grid-column: 2/3;
    grid-row: 1/3;
}

.img3{
grid-column: 3/5;
grid-row: 1/2;  
}

.img4{
grid-column: 1/2;
grid-row: 3/4;
}

.img5{
grid-column: 2/3;
grid-row: 3/4;
}

.img6{
grid-column: 3/5;
grid-row: 2/4;
}

.cajaMediosDePago{
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%;
}

.bonotesMediosDePago{
    justify-self: center;
}
} */
/* ------------------------------------------------------------------------------------------------------------ */
/* @media(max-width: 360px){
    .contenedor {
        grid-template-columns: 20% auto;
        grid-template-rows: 50px 50px    auto 40px;
        grid-template-areas: "box1 box1" "box2 box2" "box3 box3" "box4 box4";
        background-color: #f6f1f0;
    }
    h2{
        text-align: center;
    }
    .logo p{
        text-align: center;
        }
    .barra nav ul a:hover{
    color: #9a7352;
        }

    .box2{
    text-align: center;
    padding-left: 20px;
    margin-top: 5px;
    }
    
    .contenedorBanner{
    grid-template-columns: none;
    grid-template-rows: 100px 100px;
    }

    .tituloBanner{
        justify-content: center;
        justify-self: center;
        text-align: center;
        font-size: 30px ;
    }
    .textoBanner{
        color: #918B76;
        font-size: 25px;
        font-family: cursive;
        width: 300px;
        grid-template-columns: 1/2;
        grid-template-rows: auto;
        align-self: flex-start;
        justify-self: center;
        text-align: center;
        
        
    }
    .tituloPrincipal h1{
        justify-self: center;
        align-self: end;
        font-size: 20px;
    }
    .galeria{
        margin-left: 10px;
        height: 400px;
        width: 100%;
        justify-self:center;
    }
    
    .img1{
        grid-column: 1/3;
        grid-row: 1/2;
        background-position: center;
        
    }
    
    .img2{
        grid-column: 3/6;
        grid-row: 1/2;
    }
    
    .img3{
        grid-column: 3/6;
        grid-row: 2/3;
    }
    
    .img4{
        grid-column: 1/3;
        grid-row:3/4;  
    }
    
    .img5{
        grid-column: 1/3;
        grid-row: 2/3; 
    }
    
    .img6{
    grid-column: 3/6;
    grid-row: 3/3;
        
    }
    
    .cajaMediosDePago{
    margin-left: 10px;
    justify-content: center;
    height: 200px;
    justify-content: space-between;
    }
    
    .bonotesMediosDePago{
        justify-self: center;
    }

    .cajaFormulario{
        border-radius: 5px;
        background-color:#ccc;
        padding: 10px;  
        margin: 50px;
        }
    }